APP_HOST='0.0.0.0'
APP_PORT=8000
AUTH_REQUIRED=1
DOCS_PUBLIC_IN_DEV=0
API_KEY='replace-with-secure-api-key'
ONNX_MODEL_DIR=''
TTS_PROMPT_AUDIO_DIR=''
TTS_SAMPLE_RATE=16000
TTS_CHANNELS=1
TTS_STREAM_CHUNK_SAMPLES=3200
ONNX_CPU_THREADS=4
ONNX_MAX_NEW_FRAMES=375
ONNX_SAMPLE_MODE='fixed'
ONNX_DO_SAMPLE=1
ONNX_TEXT_TEMPERATURE=1.0
ONNX_TEXT_TOP_P=1.0
ONNX_TEXT_TOP_K=50
ONNX_AUDIO_TEMPERATURE=0.8
ONNX_AUDIO_TOP_P=0.95
ONNX_AUDIO_TOP_K=25
ONNX_AUDIO_REPETITION_PENALTY=1.2
ONNX_SEED=0
ONNX_VOICE_CLONE_MAX_TEXT_TOKENS=75
ONNX_ENABLE_NORMALIZE_TTS_TEXT=1
