APP_HOST='0.0.0.0'
APP_PORT=8000
API_KEY=''
execution_providers='CUDAExecutionProvider'
detect_method='insight'
SSL_CERTIFICATE='/etc/ssl/certs/localhost.crt'
SSL_KEYFILE='/etc/ssl/certs/localhost.key'
distance='1.2'
DB_HOST='193.122.119.96'
DB_USER='jinsh'
DB_PASS=''
DB_NAME='jinsh'
DB_PORT=3307
base_dir='/Users/walter/temp'
parallel=20
set_source_face_url='http://127.0.0.1:8000/face/set_source_face'
set_target_face_url='http://127.0.0.1:8000/face/set_target_face'